#mapid {
  height: 650px;
  width: 100%;
}

.navbar-nav > li{
  text-align: center;
  padding-left:200px;
  padding-right:200px;
  margin-left:120px;
  margin-right:120px;
  margin: auto;
}

.jumbotron{
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
    padding: 0;
    margin: 0;
}

.statisticbox {
  padding: 0;
  margin: 0;
  max-width: 95%;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.aboutbody {
  text-align: left;
  padding: 0;
  margin: 0;
  max-width: 95%;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
